/* styles/wrapper.module.css */
.wrapper {
    transform: scale(0.5);
    transform-origin: top left;
    width: 200%; /* Prevent clipping */
    height: 200%; /* Prevent clipping */
    overflow: hidden; /* Prevent scrollbars */
  }
/* styles/wrapper.module.css */
/* styles/wrapper.module.css */
.outerwrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    overflow: hidden;
  }
  
  .innerwrapper {
    transform: scale(0.5);
    transform-origin: top left;
    width: 200%;
    height: auto; /* Ensure height is auto to adjust based on content */
    overflow: hidden;
  }
  